:root {
  --shade-darker:   #111111;
  --shade-dark:     #201c24;
  --shade:          #787878;
  --shade-light:    #dddddd;
  --shade-lighter:  #fafafa;

  --primary:        #0070c9;
}


/* Base */
html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background-color: var(--shade-lighter);
  color: var(--shade-darker);
}


/* Layout */
header, .page {
  margin: auto;
  max-width: 860px;
}
header {
  padding: 1rem 0;
  border-bottom: 1px solid var(--shade-light);
  margin-bottom: 2rem;
}
.page {
  padding: 1rem;
  min-height: 100vh;
}
.block {
  padding: 1rem 0;
}
.action-block {
  padding: 1rem 0;
  text-align: center;
}
.prefield {
  font-style: italic;
  text-decoration: underline;
}


/* Form */
.inline-field {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.inline-field .inline-field-label {
  width: 34%;
  margin-right: 2%;
  text-align: right;
}

.inline-field .inline-field-input {
  width: 64%;
  max-width: 64%;
  min-width: 64%
}



label {
  cursor: pointer;
}
.inline-field-input {
  max-width: 100%;
  font-size: .875em;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', sans-serif;
  padding: .25em;
  border: none;
  border-radius: .125rem;
  color: var(--shade-dark);
  background: var(--shade-light);
  line-height: 1.2;
  height: 1.2rem;
  box-sizing: initial;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: .5s all;
}
textarea.inline-field-input {
  min-height: 3em;
}

.inline-field-input:active,
.inline-field-input:focus {
  border-color: var(--primary);
  color: var(--shade-darker);
  background: var(--shade-light);
  outline: none;
}

fieldset {
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: none;
  margin: .5rem 0;
  background-color: var(--shade-darker);
}




/**
 * Buttons
 */
button, .button {
  border: 1px solid var(--primary);
  font-size: 1em;
  color: var(--primary);
  border-radius: 1em;
  padding: .25em .65em;
  background: none;
  text-decoration: none;
  transition: .3s opacity;
}


.signature-field {
  width: 700px;
  margin: 3rem auto 0;
  text-align: right;
}
.signature-field-label {
  text-align: center;
  color: var(--shade);
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
}
canvas {
  max-width: 100%;
  background-color: var(--shade-light);
}




/* Feedback table */
.feedback-row {
  display: flex;
  align-items: center;
  margin: .5rem 0;
}
.feedback-label {
  flex-grow: 1;
  padding: .25em;
}


/* Form radio */
.form-radio {
  display: flex;
  border: 1px solid var(--shade-darker);
  border-radius: .25rem;
  padding: 0;
  overflow: hidden;
}

.form-radio > input[type="radio"] {
  display: none;
}

.form-radio > label {
  flex-grow: 1;
  padding: .25em;
  min-width: 2rem;
  color: var(--shade-darker);
  border-right: 1px solid var(--shade-darker);
  text-align: center;
}
.form-radio > label:last-child {
  border-right: none;
}
.form-radio > input[type="radio"]:checked + label {
  color: var(--shade-lighter);
  background-color: var(--shade-darker);
}


/* Goodbye */
.credits {
  margin: 30% 10% 0;
  text-align: center;
  font-size: 1.25em;
}